{{#d-modal-body title="merge-users.title"}}

    <p>{{i18n "merge-users.confirm" source=source target=target}}</p>

{{/d-modal-body}}

<div class='modal-footer'>
    {{d-button class="btn-primary" action=(action "confirm") label="merge-users.confirm-label"}}
    {{d-modal-cancel close=(action "cancel") label="merge-users.cancel-label"}}
</div>