<section>
  <hr>
  <div class="pull-right">
      {{d-button label="admin.user.merge_into"
                 icon="exclamation-triangle"
                 class="btn-danger"
                 action=(action "mergeInto")}}
  </div>
  <div class="clearfix"></div>
</section>